@font-face {
    /* 上文提到的开源字体： 辰宇落雁體，可自行前往Github仓库下载，并重命名放在项目根目录下的 /fonts 目录内*/
    font-family: "ChenYuluoyan";
    src: url("/fonts/ChenYuluoyan.ttf") format("ttf");
    font-display: swap;
  }
  
  .poem-card {
    @apply relative my-6 rounded-xl p-10;
    /* 请在项目根目录下的 /public/poem-card 目录下新增两个图片，用作日间模式和黑暗模式状态下诗词卡片的背景 */
    @apply bg-[url('/poem-card/light.png')] bg-cover bg-top bg-no-repeat;
    @apply dark:bg-[url('/poem-card/dark.png')] dark:bg-center dark:before:bg-black/30;
    @apply before:absolute before:inset-0 before:rounded-xl;
    @apply before:backdrop-blur-[12px];
    @apply isolate;
    /* 添加背景缩放和过渡效果 */
    @apply bg-[length:105%_auto] hover:bg-[length:115%_auto];
    @apply transition-[background-size] duration-500;
    /* 添加模糊效果的过渡 */
    @apply before:transition-[backdrop-filter] before:duration-500;
    @apply hover:before:backdrop-blur-[16px];
    /* 卡片阴影 */
    box-shadow: 1.1px 1.1px 1.4px rgba(0, 0, 0, 0.008), 2.7px 2.7px 3.3px rgba(0, 0, 0, 0.012),
      5px 5px 6.3px rgba(0, 0, 0, 0.015), 8.9px 8.9px 11.2px rgba(0, 0, 0, 0.018),
      16.7px 16.7px 20.9px rgba(0, 0, 0, 0.022), 40px 40px 50px rgba(0, 0, 0, 0.03);
  }
  
  .poem-header,
  .poem-content {
    @apply relative z-10;
  }
  
  .poem-header {
    @apply font-serif;
    font-family: serif;
  }
  
  .poem-title {
    @apply mr-3 text-2xl font-bold;
    @apply text-gray-800 dark:text-gray-100;
  }
  
  .poem-author {
    @apply text-lg;
    @apply text-gray-600 dark:text-gray-300;
  }
  
  /* 诗词内容基础样式 */
  .poem-content {
    @apply flex w-full flex-col;
    font-family: "ChenYuluoyan", serif;
    @apply text-4xl leading-relaxed;
    @apply text-gray-800 dark:text-gray-100;
    white-space: pre-wrap;
  }
  
  .poem-paragraph {
    @apply mb-2 last:mb-0; /* 段落间距 */
    white-space: pre-wrap;
  }
  
  .poem-line {
    @apply my-2 block w-fit max-w-full tracking-wider; /* 行间距保持不变 */
    white-space: pre-wrap;
  }
  
  /* 移动端适配 */
  @media (max-width: 768px) {
    .poem-card {
      @apply p-6;
    }
  
    .poem-content {
      @apply text-3xl;
    }
  
    .poem-title {
      @apply text-xl;
    }
  
    .poem-author {
      @apply text-base;
    }
  }